// output.kdl
// 此处存放 niri 必须/可选 的输出设备配置
// 可以通过输出名称配置输出设备，名称可通过在 niri 实例中运行 `niri msg outputs` 找到
// 内置笔记本电脑显示器通常称为 "eDP-1"
// 更多信息请查阅维基：
// https://yalter.github.io/niri/Configuration:-Outputs

// 输出设备配置模板
/- output "eDP-1" {
    // 取消注释此行以禁用此输出
    // off

    // 输出的分辨率和可选刷新率
    // 格式为 "<宽度>x<高度>" 或 "<宽度>x<高度>@<刷新率>"
    // 如果省略刷新率，niri 将为此分辨率选择最高刷新率
    // 如果完全省略模式或模式无效，niri 将自动选择一个
    // 在 niri 实例中运行 `niri msg outputs` 以列出所有输出及其模式
    mode "1920x1080@120.030"

    // 可使用整数或小数缩放，例如使用 1.5 表示 150% 缩放
    scale 2

    // 变换允许逆时针旋转输出，有效值为：
    // normal, 90, 180, 270, flipped, flipped-90, flipped-180 and flipped-270.
    transform "normal"

    // 启用可变刷新率（FreeSync/G-Sync）
    // 可追加 on-demand=true 配合窗口规则按需启用
    // variable-refresh-rate
    // variable-refresh-rate on-demand=true

    // 每个显示器独立的背景色（alpha 通道会被忽略）
    // backdrop-color "#001100"

    // 最大色彩深度，如 8 或 10
    // max-bpc 8

    // 热角配置（覆盖全局 gestures 中的 hot-corners 设置）
    // 可启用 top-left、top-right、bottom-left、bottom-right
    // 或设 off 全部关闭
    // hot-corners {
    //     bottom-left
    //     bottom-right
    // }

    // 输出在全局坐标空间中的位置
    // 这会影响方向性显示器操作，如 "focus-monitor-left" 和光标移动
    // 光标只能在直接相邻的输出之间移动
    // 定位时必须考虑输出缩放和旋转：
    // 输出大小以逻辑（或缩放后的）像素为单位
    // 例如，3840×2160 输出，缩放 2.0 将具有 1920×1080 的逻辑大小，
    // 因此要在其右侧直接放置另一个输出，将其 x 设置为 1920
    // 如果未设置位置或导致重叠，输出将自动放置
    position x=1280 y=0
}

// 主显示器
/- output "eDP-1" {
    mode "1920x1080@60.056"
    scale 1.0
    position x=0 y=0
    focus-at-startup
}

// HDMI 口显示器
/- output "HDMI-A-1" {
    mode "1920x1080@60.000"
    scale 1.0
    position x=0 y=1080
    focus-at-startup
}

// 使用 Modeline 自定义显示器模式（覆盖 mode 设置）
// 警告：错误的 modeline 参数可能损坏显示器，请谨慎使用
///- output "eDP-3" {
//     modeline 173.00  1920 2048 2248 2576  1080 1083 1088 1120 "-hsync" "+vsync"
// }

// 在特定显示器上覆盖全局 layout 设置
///- output "HDMI-A-1" {
//     layout {
//         gaps 16
//         always-center-single-column
//         tab-indicator {
//             on
//             position "top"
//         }
//     }
// }

